.container {
  background: #fff; 
  display: flex; 
  flex-direction: column;
  height: 100%;

  .nodeTitle {
    padding: 2px 0;
  }

  li.treeNode {
    padding: 2px 0;

    &:first-child {
      padding-top: 4px;
    }
  }
}

.btnWrapper {
  margin-left: 10px;
}
