.addInfoWrapper {
  padding: 24px;

  .addInfo {
    font-size: 19px;
  }
}

.userPhotoNameWrapper {
  margin-bottom: 15px;
  padding: 20px;
  background: #001529;

  .userName {
    color: white;
    margin: 0;
  }
}
